:root {
  --primary-color: #120b4f;
  --secondary-color: #353A84;
}

.top-navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 80px 0 70px;
  box-sizing: border-box;

  margin-bottom: 0;
}

.nav-left {
  flex: 1;
  display: flex;
  align-items: center;
}

.en-circle {
  background: var(--secondary-color);
  color: #fff;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.1rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.04);
}

.nav-center {
  flex: 2;
  display: flex;
  justify-content: center;
  gap: 48px;
  padding: 12px 24px;
  width: 30%;
  border-radius: var(--primary-border-radius);
  position: fixed;
  top: 18px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.nav-center.scrolled {
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid #fff;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.nav-link {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  transition: opacity 0.2s, color 0.2s;
  opacity: 0.9;
}

.nav-link:hover {
  opacity: 1;
}

.nav-link.dimmed {
  color: #b0b0b0;
  opacity: 0.6;
}

.nav-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.pdf-download {
  display: flex;
  align-items: center;
  background: var(--secondary-color);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  color: white;
  gap: 0.5rem;
  cursor: pointer;
}

.download-cv-text {
  font-size: 1rem;
  font-weight: 500;
}